[general]
name = "minilib-random"
version = "0.6.3"
fix_version = "1.2.0"
authors = ["pt9999"]
description = "Random monad etc."
license = "MIT"

[build]
opt_level = "basic"
files = [
    "lib/common/random_ex.fix",
    "lib/crypto/secure_random.fix",
    "lib/monad/free_random.fix",
    "lib/monad/random.fix",
    "lib/random/xor_shift.fix",
    "lib/trait/rng.fix",
    "lib/trait/lifter.fix",
]

[build.test]
opt_level = "basic"
files = [
    "tests/test.fix",
    "tests/common/random_ex_test.fix",
    "tests/crypto/secure_random_test.fix",
    "tests/monad/free_random_test.fix",
    "tests/monad/monad_random_test.fix",
    "tests/random/xor_shift_test.fix",
]

[[dependencies]]
name = "random"
version = "1.1.1"
git = { url = "https://github.com/tttmmmyyyy/fixlang-random.git" }

[[dependencies]]
name = "minilib-common"
version = "0.7.0"
# path = "../fixlang-minilib-common"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }

[[dependencies]]
name = "minilib-monad"
version = "0.7.1"
# path = "../fixlang-minilib-monad"
git = { url = "https://github.com/pt9999/fixlang-minilib-monad.git" }
